/* .topcontainer{
    background-image: url("/assets/image 12.png");
}
.row{
    margin: 0;
    height: 100vh;
}

h1{
    text-align: center;
    margin-top: 8%;
    font-size: 2.5em;
    color: #A7236E;
    height: 5px;
    font-weight: bold;
}

hr{
    border-radius: 3px;
    opacity: 100%;
    color: #7973F0;
    height: 6px;
    width: 15%;
    margin-left: 33.2%;
}

.card-group{
    margin-bottom: 2em;
}

.mat-card{
    max-width: 20%;
    margin-top: 5%;
    margin-left: 9%;
    cursor: pointer;
    background-color: #5E5B8F;
    box-shadow: 0 5px 26px aqua;
}

.mat-card:hover{
    transform: rotatex(0deg);
    transform: rotatez(0deg);
    transition:.6s;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.mat-card-image {
    width: 40%;
    padding-top: 2em;
    margin-left: 30%;
}

.mat-card-title{
    padding-top: 0.75em;
    text-align: center;
    font-size: 2.5em;
    color: white;
}

.card-description{
    padding-top: 2em;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: white;
} */
