<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="sidebar">
                <div class="sidebar-heading border-bottom text-center">Phase 1 Bitches</div>
                <div class="list-group list-group-flush" *ngFor="let lesson of lessons">
                    <a class="list-group-item list-group-item-action p-3 text-center border-bottom" href="#">{{lesson.lesson}}</a>
                </div>
            </div>
        </div>
        <div class="col-10 mt-5">
                <mat-progress-bar mode="determinate" value="10"></mat-progress-bar>
                <span class="material-icons">outlined_flag</span> 


            <!-- Questions -->
            <h2 class="mt-5">{{questions[currentQuestion]?.questionText}}</h2>
            <h2 class="mt-5" *ngFor="let item of questions[currentQuestion]?.options">{{item.label}}</h2>
          
        
          
            <div cdkDropListGroup>
              <div class="questions-container">
                <div
                  cdkDropList
                  cdkDropListOrientation="horizontal" 
                  [cdkDropListData]="placeHolder"
                  class="questions-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="option-box" *ngFor="let item of placeHolder" cdkDrag>{{item.label}}</div>
                </div>
              </div>

            
          
              <div class="option-container">          
                <div
                  cdkDropList
                  cdkDropListOrientation="horizontal" 
                  [cdkDropListData]="options"
                  class="options-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="option-box" *ngFor="let item of options" cdkDrag>{{item.label}}</div>
                </div>
              </div>
            
          <button mat-raised-button color="primary" (click)="previousQuestion()">Previous</button>
          <button mat-raised-button color="primary" (click)="nextQuestion()">Next</button>

        </div>
    </div>
</div>



    