<div class="container-fluid">
    <div class="row">
        <div class="title">
            <h1>{{title}}<hr></h1>
        </div>

        <div class="card-group" >
            <mat-card routerLink="/syllabus/functions">
                <mat-card-content>
                    <mat-card-title>Functions</mat-card-title>
                    </mat-card-content>
            </mat-card>
            <mat-card routerLink="/syllabus/loops">
                <mat-card-content>
                    <mat-card-title>Loops</mat-card-title>
                    </mat-card-content>
            </mat-card>
            <mat-card routerLink="/syllabus/variables">
                <mat-card-content>
                    <mat-card-title>Variables</mat-card-title>
                    </mat-card-content>
            </mat-card>
        </div>
    </div>

    <!-- Just for reference, if you might have a line break in a string -->
    <div [innerHTML]=""></div>
</div>

Topic (Loops) -> List of Lessons -> Description + Question page

Topic:
title: Functions
slug (URL safe term): functions
summary: this topic covers functions
lesson: [title, slug, description, question]