<div class="container-fluid">
    <div class="row">
        <div class="title">
            <h1>{{title}}<hr></h1>
        </div>

        <div class="card-group">
            <mat-card routerLink="/experience-page" *ngFor="let card of cards">
                <mat-card-content>
                    <mat-card-title>{{card.title}}</mat-card-title>
                    <img mat-card-image [src]="card.img" alt="javascript-icon">
                    <p class="card-description">{{card.description}} </p>
                    </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>



