h1{
    font-size: 35px;
    margin-right: 5%;
    color: #A7236E;
    margin-left: 8%;
    font-weight: bold;
}

.shift{
    margin-left: 15%;
    margin-top: 1em;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #A7236E;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 10px;
}

button{
    color: #A7236E;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #433EAF;
    min-width: 160px;
    z-index: 1;
}

.dropdown .dropdown-content .dropdown-link{
    color: white;
}

.test{
    text-decoration: none;
    color: white;
    padding-left: 0.5em;
    font-size: 20px;
    font-weight: bold;
}

.dropdown:hover .dropdown-content {display: block;}

.active{
    border-bottom: 4px solid #7973F0;
}

.mat-elevation-z4{
    height: 10%;
    position: fixed;
    background-color: var(--navbar-scroll);
    transition: background-color 0.5s ease;
    color: var(--navbar-scroll-text);
    -webkit-box-shadow: var(--navbar-scroll-shadow);
    box-shadow: var(--navbar-scroll-shadow);
}