<div class="container-fluid">
    <div class="row">
        <div class="col-5"> 
            <div class="description">
                <h1><b>What is Javascript?</b></h1>
                <p>{{ introText }}</p>
            </div>
        </div>
        
        <div class="col-7">
            <div class="image">
                <img src="/assets/javascriptimage.png" alt="background image">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <div class="image2">
                <img src="/assets/javascriptimage2.png" alt="background image">
            </div>
        </div>

        <div class="col-6"> 
            <div class="description2">
                <h1><b>Why Javascript?</b></h1>
                <p>{{ introText }}</p>
                <a mat-raised-button href="syllabus">Get Started</a>
            </div>
        </div>
    </div>
</div>