.wrapper{
    background-image: url("/assets/image 12.png");
}
.row{
    margin: 0;
    height: 100vh;
}

.topcontainer .col-5{
    text-align: center;
    padding-left: 7%;
    padding-top: 15%;
    
}

.topcontainer .col-7{
    margin-top: 7%;
}

h1{
    text-align: left;
    margin-left: 0.2em;
    font-size: 3em;
    line-height: 1.3em;
    color: #A7236E;
}

.topcontainer p{
    width: 85%;
    font-weight: 500;
    color: #433EAF;
    text-align: justify;
    font-size: 1.4em;
    margin-left: 0.6em;
    margin-top: 1.5em;
    line-height: 1.3em;
}

.topcontainer img{
    width: 90%;
    height: 80%;
}

.middlecontainer img{
    width: 90%;
    height: 80%;
    margin-left: 5%;
}


.middlecontainer h1 {
    padding-top: 22%;
    margin: 0;
}

.middlecontainer p{
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.3em;
    width: 70%;
    color: #433EAF;
    font-weight: 500;
    margin-top: 1.5em;
}


.middlecontainer a{
    padding: 0.5em 1em;
    margin-top: 0.5em;
    font-size: 1.5em;
    height: 2.5em;
    background-color: #433EAF;
    color: white;
}