.row{
    margin: 0;
    height: 100vh;
}
/*
.topcontainer .col-5{
    text-align: center;
    padding-left: 7%;
    padding-top: 13%;
    
}
*/
/*
.topcontainer .col-7{
    margin-top: 7%;
}
*/
h1{
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;
    color: #A7236E;
}

.underline{
    text-decoration:none;
    border-bottom:5px solid #7973F0;

}

.topcontainer p{
    width: 85%;
    font-weight: 500;
    color: #433EAF;
    text-align: justify;
    font-size: 1.4em;
    margin-left: 0.75em;
    margin-top: 2em;
    line-height: 1.3em;
}

.topcontainer img{
    width: 90%;
    height: 80%;
}

.middlecontainer{
    height: 80vh;
}


.middlecontainer img{
    width: 100%;
    height: 70%;
}


.middlecontainer h1 {
    padding-top: 20%;
}

.middlecontainer p{
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.3em;
    width: 70%;
    color: #433EAF;
    font-weight: 500;
}

.bottomcontainer .row{
    padding-top: 10%;
    height: 80vh;   
}
.bottomcontainer h1{
    text-align: right;
    padding-top: 3.5em;
    height: 45vh;
}

.border{
    height: 45vh;
    width: 1%;
    background-color:  #5E5B8F;
    border-radius: 99px;
}

.reasonNumber{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 2em;
    margin-top: 3%;
}

.reasonText{
    font-size: 25px;
    margin-left: 1em;
    vertical-align: baseline;
    color: #433EAF;
    font-weight: 500;
}

.reasonNumber2{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 3em;
    margin-top: 5%;
}

.reasonNumber3{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 4em;
    margin-top: 5%;
}
