.row{
    margin: 0;
    height: 100vh;
}

.description{
    padding-top: 25%;
    padding-left: 18%;
}

.description h1{
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;
    color: #A7236E;
}

.underline{
    text-decoration:none;
    border-bottom:5px solid #7973F0;

}

.description p{
    width: 90%;
    font-weight: 500;
    color: #433EAF;
    text-align: justify;
    font-size: 1.4em;
    margin-top: 2em;
    line-height: 1.3em;
}

.image img{
    padding-top: 7%;
    width: 90%;
}

.description2{
    padding-top: 15%;
}

.description2 h1{
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;
    color: #A7236E;
}

.description2 p{
    text-align: justify;
    font-size: 1.4em;
    line-height: 1.3em;
    width: 70%;
    color: #433EAF;
    font-weight: 500;
    margin-top: 1em;
}

.image2 img{
    width: 100%;
}

.description3{
    padding-top: 20%;
}

.description3 h1{
    width: 80%;
    font-size: 3em;
    line-height: 1.3em;
    color: #A7236E;
    text-align: right;
}

.border{
    height: 45vh;
    width: 1%;
    background-color:  #5E5B8F;
    border-radius: 99px;
}

.reasonNumber{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 2em;
    margin-top: 3%;
}

.reasonText{
    font-size: 25px;
    margin-left: 1em;
    vertical-align: baseline;
    color: #433EAF;
    font-weight: 500;
}

.reasonNumber2{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 3em;
    margin-top: 5%;
}

.reasonNumber3{
    display: inline-block;
    font-size: 40px;
    background-color: #433EAF;
    color: white;
    border-radius: 3px;
    padding: 0.25em 0.75em;
    margin-left: 4em;
    margin-top: 5%;
}
