<div class="topcontainer">
    <div class="row">
        <div class="col-5"> 
            <h1><b>{{ title }}</b></h1>
            <p>{{ introText }}</p>
        </div>
        
        <div class="col-7">
            <img src="assets/background.jpg" class="mx-auto d-block" alt="background image">
        </div>
    </div>
</div>

<div class="middlecontainer">
    <div class="row">
        <div class="col-6">
            <img src="assets/background 2.png" class="mx-auto d-block" alt="background image">
        </div>

        <div class="col-6"> 
            <h1><b>{{ title2 }}</b></h1>
            <p>{{ introText }}</p>
        </div>
    </div>
</div>

<div class="bottomcontainer">
    <div class="row">
        <div class="col"> 
            <h1><b>{{ title3 }}</b></h1>
            <p>{{ firstStep }}</p>
            <p>{{ secondStep }}</p>
            <p>{{ thirdStep }}</p>
            <p>{{ fourthStep }}</p>
        </div>
    </div>
</div>